---
import empresa from "../data/empresa.json";
---

<a
  href={`https://wa.me/${empresa.whatsapp}`}
  target="_blank"
  aria-label="Conversar no WhatsApp"
  class="fixed bottom-6 right-6 z-50 flex h-16 w-16 items-center justify-center rounded-full bg-[#25D366] shadow-2xl transition duration-300 hover:scale-110 hover:shadow-green-500/40"
>

  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 32 32"
    class="h-9 w-9 fill-white"
  >
    <path d="M19.11 17.27c-.3-.15-1.77-.87-2.05-.97-.27-.1-.47-.15-.67.15-.2.3-.77.97-.95 1.17-.17.2-.35.22-.65.07-.3-.15-1.28-.47-2.43-1.5-.9-.8-1.5-1.78-1.68-2.08-.17-.3-.02-.46.13-.6.13-.13.3-.35.45-.52.15-.18.2-.3.3-.5.1-.2.05-.37-.03-.52-.08-.15-.67-1.62-.92-2.22-.24-.58-.49-.5-.67-.5h-.57c-.2 0-.52.07-.8.37-.27.3-1.05 1.03-1.05 2.52 0 1.48 1.08 2.92 1.23 3.12.15.2 2.13 3.25 5.16 4.55.72.3 1.28.48 1.72.62.72.23 1.37.2 1.88.12.57-.08 1.77-.72 2.02-1.42.25-.7.25-1.3.18-1.42-.08-.12-.27-.2-.57-.35z"/>
    <path d="M16.02 3C8.84 3 3 8.82 3 16c0 2.54.75 5 2.16 7.1L3 29l6.08-2.1A13 13 0 0016.02 29C23.2 29 29 23.18 29 16S23.2 3 16.02 3zm0 23.5c-2.15 0-4.26-.58-6.1-1.68l-.44-.26-3.6 1.24 1.2-3.5-.28-.45A10.45 10.45 0 015.5 16c0-5.8 4.72-10.52 10.52-10.52S26.54 10.2 26.54 16 21.82 26.5 16.02 26.5z"/>
  </svg>

</a>