---
import empresa from "../data/empresa.json";
---

<a
href={`https://wa.me/${empresa.whatsapp}`}
target="_blank"
class="fixed bottom-6 right-6 z-50 rounded-full bg-green-500 p-4 shadow-2xl transition hover:scale-110 hover:bg-green-600"
aria-label="WhatsApp"
>

<img
src="/images/whatsapp.svg"
alt="WhatsApp"
class="h-7 w-7"
/>

</a>